<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adding Restaurant Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
  </head>
  <body class="add-restaurant-page">
    <div class="add-restaurant-container">
      <h3>Adding New Restaurant</h3>
      <div id="formError" class="error-box"></div>
      <form action="{% url 'add_restaurant' %}" method="POST">
        {% csrf_token %}

        <label>Restaurant Name</label>
        <input type="text" name="name" placeholder="Enter restaurant name" />

        <label>Picture URL</label>
        <input type="text" name="picture" placeholder="Enter image URL" />

        <label>Cuisine</label>
        <input type="text" name="cuisine" placeholder="Enter cuisine type" />

        <label>Rating</label>
        <input
          type="number"
          name="rating"
          min="0"
          max="5"
          step="0.5"
          placeholder="0 - 5"
        />

        <label>Location</label>
        <input type="text" name="location" placeholder="Enter location" />

        <label>Mobile Number</label>
        <input type="number" name="mobile" placeholder="Enter mobile number" />

        <button type="submit">Add Restaurant</button>
      </form>

      {% if success %}
      <p class="success-msg">Restaurant added successfully!</p>

      <a href="{% url 'open_show_restaurant' %}" class="admin-btn">
        Show Restaurants
      </a>
      {% endif %} {% if error %}
      <p class="error-msg">{{ error }}</p>
      {% endif %}
    </div>

    <script>
      const form = document.getElementById("restaurantForm");
      const errorBox = document.getElementById("formError");
      form.addEventListener("submit", function (e) {
        const inputs = form.querySelectorAll("input");
        let emptyField = false;
        inputs.forEach((input) => {
          if (input.value.trim() === "") {
            emptyField = true;
          }
        });

        if (emptyField) {
          e.preventDefault();
          errorBox.innerText = "Please fill all restaurant details.";
          errorBox.style.display = "block";
          return;
        }
      });
    </script>
  </body>
</html>
