<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body class="auth-page">
    <div class="auth-container">
        <h3>MealReady</h3>
        <p>Create your Account</p>
        <form action = "{% url 'signup' %}" method = "post">
            {% csrf_token %}
            <label>Full Name: </label>
            <input type="text" name="name">
            <label>Username: </label>
            <input type="text" name="username">
            <label>Email: </label>
            <input type="email" name="email">
            <label>Password: </label>
            <input type="password" name="password">
            <label>Mobile Number: </label>
            <input type="text" name="mobile">
            <label>Address: </label>
            <textarea name="address"></textarea>
            <button type="submit">Sign Up</button>
        </form>
        <p class="signin">
            Already have an account?
            <a href="{% url 'signin' %}">Login</a>
        </p>
    </div>
</body>
</html>